:root {
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

    /* light theme */
    --very-light-gray-l: hsl(0, 0%, 98%);
    --very-light-grayish-blue-l: hsl(236, 33%, 92%);
    --light-grayish-blue-l: hsl(233, 11%, 84%);
    --dark-grayish-blue-l: hsl(236, 9%, 61%);
    --very-dark-grayish-blue-l:  hsl(235, 19%, 35%);

    /* Dark theme */
    --very-dark-blue-d:  hsl(235, 21%, 11%);
    --very-dark-desaturated-blue-d: hsl(235, 24%, 19%);
    --light-grayish-blue-d:  hsl(234, 39%, 85%);
    --light-grayish-blue-hover-d: hsl(236, 33%, 92%);
    --dark-grayish-blue-d:  hsl(234, 11%, 52%);
    --very-dark-grayish-blue-d: hsl(233, 14%, 35%);
    --very-dark-grayish-blue-hover-d:  hsl(237, 14%, 26%);

}

@font-face {
    font-family: 'Josefin Sans';
    src: url("JosefinSans-VariableFont_wght.ttf");
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}
.body-light {
    background-color: hsl(0, 0%, 94.9%);
}

.body-dark {
    background-color: var(--very-dark-blue-d);
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue-l);
}

input {
    font-family: 'Josefin Sans', sans-serif;
}

.input-light {
    color: var(--very-dark-grayish-blue-l);
    background-color: white;
}

.input-dark {
    color: var(--light-grayish-blue-d);
    background-color: var(--very-dark-desaturated-blue-d);
}

.input-light:focus {
    outline: 1px solid var(--light-grayish-blue-l);
}
.input-dark:focus {
    outline: 1px solid var(--very-dark-grayish-blue-d);
}

img[alt="toggle"] {
    width:min(26px, 5.5vw);
    cursor: pointer;
}

.bg-mobile-dark {
    background-image: url("./images/bg-mobile-dark.jpg");
}

.bg-mobile-light {
    background-image: url("./images/bg-mobile-light.jpg");
}

.container {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.to_do {
    width: 86%;
    margin-inline: auto;
    padding-top: 2.8em;
    max-width: 550px;
}

.light-todo_description {
    color: var(--very-dark-grayish-blue-l);
}

.dark-todo_description {
    color: var(--light-grayish-blue-d);
}

.filtered {
    color: var(--bright-blue);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_title {
    color: var(--very-light-gray-l);
    letter-spacing: 10px;
    font-size: clamp(1.5rem, 1.3rem + 1.5vw, 2.2rem);
}

.create_todo {
    margin-top: 2em;
}

.create_todo > input {
    padding: 1.3em 1em 1.1em 4em;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.input_circle {
    position: relative;
}

.dark_border::before {
    border: 1px solid var(--very-dark-grayish-blue-d)
}

.light_border::before {
    border: 1px solid var(--very-light-grayish-blue-l);
}

.input_circle::before {
    content: "";
    width: 20px;
    display: block;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top:-3px;
    left:20px;
}

.background-light {
    background-color: var(--very-light-gray-l);
}

.background-dark {
    background-color: var(--very-dark-desaturated-blue-d);
}

.todo_list {
    border-radius: 5px;
    margin-top: 1.1em;
    position: relative;
    
}

.todo_items {
    height: 318px;
    overflow: auto;
}

.todo_item {
    padding: 1em 1em 1em 1.25em;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 10fr 1fr;
}

.light-border {
    border-bottom: 1px solid var(--very-light-grayish-blue-l);
}

.dark-border {
    border-bottom: 1px solid var(--dark-grayish-blue-d);
}

.wrapper {
    display: grid;
    gap: .8em;
    align-items: center;
    grid-template-columns: 1fr 15fr;
}

.circle {
    width:20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.light-circle_unfilled {
    border: 1px solid var(--very-light-grayish-blue-l);
}

.dark-circle_unfilled {
    border: 1px solid var(--very-dark-grayish-blue-d);
}

.circle-filled {
    background:  linear-gradient(-65deg,  hsl(280, 87%, 65%),hsl(192, 100%, 67%));
}

.circle-filled::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("./images/icon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.checked {
    text-decoration: line-through;
}

.light-checked {
    color: var(--light-grayish-blue-l);
}

.dark-checked {
    color: var(--very-dark-grayish-blue-d);
}

.todo_state,
.todo_description {
    font-size: .9rem;
}

.icon_cross {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

img[alt="cross icon"] {
    width: 15px;
    cursor: pointer;
}

.todo_state {
    display: flex;
    justify-content: space-between;
    padding: 1.2em 1em 1.2em 1.25em;
    color: var(--dark-grayish-blue-l);
}

.clear_completed {
    cursor: pointer;
}

.light-clear_completed:hover {
    color: var(--very-dark-grayish-blue-l);
}

.dark-clear_completed:hover {
    color: var(--very-light-gray-l);
}

.highlight_filter {
    color: var(--bright-blue) !important;
}

.todos_filter {
   border-radius: 5px;
   position: absolute;
   width: 100%;
   bottom: -70px; 
   left:0;
}

.light-filter:hover {
    color: var(--very-dark-grayish-blue-l);
}

.dark-filter:hover {
    color: var(--light-grayish-blue-d);
}

.todos_filter > ul {
    padding: 1em 1em 1em 1.25em;
    display: flex;
    justify-content: center;
    gap: 1.2em;
    font-weight: bold;
    font-size: 1rem;
}

.shadow-light {
    box-shadow: 0px 20px 10px 1px var(--light-grayish-blue-l);
}

.shadow-dark {
    box-shadow: 0px 20px 10px 1px var(--very-dark-blue-d);
}


@media (min-width: 600px) {
    .create_todo > input {
        padding: 1em 1em 1em 3.5em;
    }

    input,
    .todo_description {
        font-size: 1.1rem;
    }

    .input_circle::before {
        width: 23px;
        height: 23px;
    }

    .circle {
        width: 23px;
        height: 23px;
    }

    .todo_item {
        cursor: pointer;
    }

    .todo_item:hover .icon_cross {
        display: flex;
    }

    .icon_cross {
        display: none;
    }

    .todo_state {
        align-items: center;
    }

    .todos_filter {
        box-shadow: none !important;
        position:initial;
        width:auto;
    }

    .todos_filter > ul {
        padding: 0;
    }

    .bg-mobile-dark {
        background-image: url("./images/bg-desktop-dark.jpg");
    }
    .bg-mobile-light {
        background-image: url("./images/bg-desktop-light.jpg");
    }
}